body {
			color: #93a1a1;
			background-color: #2d2f33;
			
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			width: 618px;
			margin: 0 auto;
			position: relative;
			font-size: 12px;
    }
    
    /* Main column of posts */
    .main {
			float: right;
			width: 430px;
			margin-top: 20px;
    }
    
    /* Fixed sidebar */
    .sidebar {
			width: 138px;
			padding: 10px;
			margin-top: 10px;
			background: transparent;
        position: fixed;
    }
    
    .widget {
        background: #2d2f33;
        padding: 10px;
        border-radius: 2px;
        
        padding: 10px 0;
        
    }
    
    
    /* Background setting styles */
    .background-cover {
        background-position: center center;
        background-size: cover;
    }
    .background-tile {
        background-repeat: repeat;
    }
    .background-center {
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    /* Avatar styles */
    .my-avatar {
        border: 5px solid white;
        border-radius: 2px;
        margin-bottom: 16px;
    }
    .my-avatar:hover {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
    .avatar-circle {
        border-radius: 128px;
    }
    
    /* Blog title */
    .blog-title {
        color: #93a1a1;
        font-weight: bold;
        font-size: 0.92em;
    }
    
    /* Blog description */
    .blog-description {
        color: #93a1a1;
			font-size: 0.92em; 
    }
    
    .blog-description a, .blog-description a:hover {
        color: #93a1a1;
        text-decoration: underline;
    }
    
    /* Sidebar link styles */
    .sidebar-links {
        list-style-type: none;
        padding-left: 0;
    }
    .sidebar-link {
			font-size: 0.83em;
			font-family: 'Brutal Type', sans-serif;
			color: white;
			background-color: #2aa198;
			display: block;
			padding: 4px 5px;
			margin-bottom: 2px;
			text-decoration: none;
			border-radius: 2px;
    }
    .sidebar-link:hover {
        background-color: rgba(42,161,152,0.9);
        text-decoration: none;
    }
    
    
    /* General post styles */
    .post {
			background-color: #242629;
			margin-bottom: 40px;
			border: 5px solid #3a3c41;
			
			box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
			
			border-radius: 2px;
    }
    figure {
        margin: 0;
    }
    .post-content {
        padding: 10px;
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    .post img {
			max-width: 100%;
			height: auto;
			border-radius: 2px;
    }
    .post .photo-highres {
        width: 100%;
    }
    .post h1,.post h2,.post h3,.post h4,.post h5,.post h6 {
			font-size: 1.16em;
    }
    .post a {
			color: #2aa198;
			text-decoration: none;
    }
    .post a:hover {
			color: #2aa198;
			text-decoration: underline;
    }
    .post p, .blog-description p {
			font-size: 1em;
			line-height: 150%;
    }
    .post ul, .blog-description ul {
			list-style-type: circle;
			font-size: 1em;
        line-height: 140%;
			padding-left: 20px;
    }
    .post ol, .blog-description ol {
        font-size: 1em;
        line-height: 140%;
        padding-left: 20px;   
    }
    .post blockquote, .blog-description blockquote {
        background-color: rgba(147,161,161,0.02);
        border: 1px solid rgba(147,161,161,0.05);
			font-size: 1em;
			padding: 8px 16px;
			margin: 16px 0;
			font-style: italic;
    }
    .post hr, .blog-description hr {
        border: 0;
        border-bottom: 1px solid rgba(147,161,161,0.15);
    }
    
    /* Videos, photosets, etc */
    .post iframe, .blog-description iframe {
        max-width: 100%;
    }
    
    /* Chat post styles */
    .chat .label {
			font-weight: bold;
			text-align: right;
    }
    .chat ul {
        list-style-type: none;
        padding-left: 0;
    }
    .chat ul li {
        border-bottom: 1px solid rgba(147,161,161,0.1);
        padding: 5px 0;
    }
    .chat ul li:last-child {
        border-bottom: 0;   
    }
    
    /* Quote post styles */
    .quote-text {
        font-family: serif;
        font-size: 1.25em !important;
        font-style: italic;
    }
    
    /* Keep reading link arrow */
    a.read_more:after {
        content: " \2192";
    }
    
    /* Post meta info blocks */
    .post-meta {
        background-color: rgba(147,161,161,0.02);
        border-top: 1px solid rgba(147,161,161,0.07);
			color: rgba(147,161,161,0.75);
        font-size: 0.92em;
			padding: 0.8em 0.66em;
    }
    .post-meta a {
        color: rgba(147,161,161,0.75);
        text-decoration: none;
    }
    .post-meta a:hover {
        color: rgba(147,161,161,0.95);
        text-decoration: none;
    }
    .tag:before {
        content: "#";
    }
    .like-reblog-buttons {
        margin-top: -1px;
    }
    .reblog_button {
        margin-right: 8px;
    }
    .post-reblog-info {
        background-color: transparent;
        border: 0;
    }
    ol.notes {
		list-style-type: none;
			padding-left: 0;
    }
    .note {
			padding: 5px;
			font-size: 0.92em;
    }
    .note img.avatar, .asker-avatar {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        margin-right: 9px;
			vertical-align: middle;
    }
    .note blockquote {
        background-color: transparent;
        border: 0;
        border-left: 4px solid #93a1a1;
    }
    
    /* Note icons */
    ol.notes .reblog {background: transparent url('//static.tumblr.com/anzluor/Gw5n6ay0z/reblog.png') right center no-repeat;}
	ol.notes .like {background: transparent url('//static.tumblr.com/anzluor/0yrn6ay0n/like.png') right center no-repeat;}
	ol.notes .reply {background: transparent url('//static.tumblr.com/anzluor/n70n6ay1a/reply.png') right center no-repeat;}
    
    /* Page navigation */
    .pagination {
        background-color: #2d2f33;
			margin: 0 auto;
			clear: both;
			text-align: center;
			padding: 10px 0;
			
    }
    #previous, #next, .jump-page {
        border-radius: 2px;
        font-size: 0.84em;
        line-height: 2em;
        color: #93a1a1;
        padding: 3px 5px;
        text-decoration: none;
    }
    #previous:hover, #next:hover, .jump-page:hover {
        background-color: rgba(42,161,152,0.9);
        color: white;
        text-decoration: none;
    }
    .current-page {
        font-weight: 700;
        color: white;
        background-color: #2aa198;
    }
    
    /* misc classes */
    .float-right {
			float: right;
    }
    .text-right {
        text-align: right;   
    }
    
    /* stop old IE from showing borders on linked images */
    a img {
			border: 0;
    }
    
    
    body {
        width: 718px;
    }
    .main {
        width: 530px;
    }
    
    
    
    
    /* Infinite scroll loading indicator */
    .loading {
        background: white;
        color: black;
        box-shadow: 0px 0px 25px rgba(0,0,0,0.15);
        border-radius: 5px;
        padding: 10px;
        position: fixed;
        top: 49%;
        left: 49%;
        z-index: 999;
    }
    
    .font-small {
        font-size: 12px;
    }
    .font-medium {
        font-size: 14px;
    }
    .font-large {
        font-size: 15px;
    }
